.icon-fire-ff6d3f{
    background: url(~@/assets/icon/fire-ff6d3f.png) center/auto 100% no-repeat;
}
.icon-footprint-7a57d1{
    background: url(~@/assets/icon/footprint-7a57d1.png) center/auto 100% no-repeat;
}
.icon-moon-50c4ed{
    background: url(~@/assets/icon/moon-50c4ed.png) center/auto 100% no-repeat;
}
.icon-pulse-fc5185{
    background: url(~@/assets/icon/pulse-fc5185.png) center/auto 100% no-repeat;
}
.icon-time-fc5185{
    background: url(~@/assets/icon/time-fc5185.png) center/auto 100% no-repeat;
}
.icon-my-fc5185{
    background: url(~@/assets/icon/my-fc5185.png) center/auto 100% no-repeat;
}
.icon-pulse-2e2f6e{
    background: url(~@/assets/icon/pulse-2e2f6e.png) center/auto 100% no-repeat;
}
.icon-time-2e2f6e{
    background: url(~@/assets/icon/time-2e2f6e.png) center/auto 100% no-repeat;
}
.icon-my-2e2f6e{
    background: url(~@/assets/icon/my-2e2f6e.png) center/auto 100% no-repeat;
}